html {
  align:center;
  background-color:#097fe1;
}
#send {
  width:30%;
  height:20%;
}
.chatbox {
  height:75%;
  width:90%
}
#input {
  width:60%;
  height:20%;
  background-color:#09ade1;
  border-style:rounded;
  border-color:gray;
  border-width:3px;
}
