html {
  align:center;
  background-color:#097fe1;
}
#send {
  width:30%;
  height:10%;
}
#input {
  width:60%;
  height:10%;
  background-color:#09ade1;
  border-style:rounded;
  border-color:gray;
  border-width:3px;
}
